/* example */

#container ul.ez_menu {
	margin: 10% auto 0px auto;
	width: 800px;
	top: 100px;
}

#container ul.ez_menu {
	position: relative;
}

/* customize */

ul.ez_menu {
	background-color: #DDDDDD;
	border: 1px solid #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
}

ul.ez_menu li{
	font-weight: bold;
}

ul.ez_menu li a {
	text-decoration: none;
}

ul.ez_menu li.menu_hover_on {
	background-color: #EEEEEE;
}

ul.ez_menu li.menu_hover_on a {
	color: #000000;
}

ul.ez_menu li.menu_hover_off {
	background-color: #DDDDDD;
}

ul.ez_menu li.submenu_hover_on {
	background: #FFFFFF url( images/arrow_asc.gif ) no-repeat right center;
}

ul.ez_menu li.submenu_hover_on a {
	color: #000000;
}

ul.ez_menu li.submenu_hover_off {
	background: #DDDDDD none;
}

ul.ez_menu ul.menu_list {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-top: none;
	width: 150px;
}

ul.ez_menu ul.menu_list li {
	font-weight: normal;
}

ul.ez_menu ul.menu_list li.submenu {
	border-top: 1px dashed #DDDDDD;
}

ul.ez_menu ul.menu_list li.submenu ul {
	border: 1px solid #DDDDDD;
}

ul.ez_menu ul.menu_list li a {
	color: #787878;
}

ul.ez_menu ul.menu_list li a:hover {
	text-decoration: none;
}

ul.ez_menu ul.menu_list a.opt_hover_on {
	background-color: #F5F5F5;
}

ul.ez_menu ul.menu_list span.opt_hover_off {
	background-color: #FFFFFF;
}
